<div class="main">

  <div *ngIf="!isLocationView" class="weather container">
    <ng-container *ngIf="!isLoading">
      <div class="weather__date">{{selectedCityData.dt * 1000 | date:'EEEE, d MMM y | h:mma'}}</div>
      <div class="weather__location" (click)="toggleLocationView()">{{selectedCity.name}}, Slovakia
        <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
      </div>

      <div class="weather__basic__info">
        <div class="basic__type">
          <img src="assets/img/weather1.png">
          <div class="basic__type-text"><b>{{selectedCityData.weather[0].main }}</b></div>
        </div>

        <div class="basic__temp">
          <div class="basic__temp-text">{{selectedCityData.main.temp | number:'0.0-0'}}</div>
        </div>

        <div class="basic__hl-container">
          <div class="basic__hl">{{selectedCityData.main.temp_max | number:'0.0-0'}}°C <span
            class="basic__arrow vertical--align--top">↑</span></div>
          <div class="basic__hl">{{selectedCityData.main.temp_min | number:'0.0-0'}}°C <span
            class="basic__arrow">↓</span></div>
        </div>
      </div>

      <div class="weather__extra__info">
        <div>
          <img class="icon" src="assets/img/humidity.png">
          <div class="value"><b>{{selectedCityData.main.humidity}}%</b></div>
          <div class="description">Humidity</div>
        </div>

        <div>
          <img class="icon" src="assets/img/pressure.png">
          <div class="value"><b>{{selectedCityData.main.pressure}}mBar</b></div>
          <div class="description">Pressure</div>
        </div>

        <div>
          <img class="icon" src="assets/img/wind.png">
          <div class="value"><b>{{selectedCityData.wind.speed * 3.6 | number: '1.2-2'}} km/h</b></div>
          <div class="description">Wind</div>
        </div>

        <div>
          <img class="icon" src="assets/img/sunrise.png">
          <div class="value"><b>{{selectedCityData.sys.sunrise * 1000 | date:'h:mma'}}</b></div>
          <div class="description">Sunrise</div>
        </div>

        <div>
          <img class="icon" src="assets/img/sunset.png">
          <div class="value"><b>{{selectedCityData.sys.sunset * 1000 | date:'h:mma'}}</b></div>
          <div class="description">Sunset</div>
        </div>

        <div>
          <img class="icon" src="assets/img/daytime.png">
          <div class="value">
            <b>{{(selectedCityData.sys.sunset - selectedCityData.sys.sunrise) * 1000 | date:'H\'h\' m\'m\''}}</b></div>
          <div class="description">Daytime</div>
        </div>
      </div>

      <div class="weather__next__info">
        <div *ngFor="let daily of dailyData.daily.slice(1,4); let i = index" class="next__card">
          <img class="icon margin--top--16px" src="assets/img/weather{{i+2}}.png">
          <div class="value">{{daily.dt * 1000 | date: 'E, dd'}}</div>
          <div class="description margin--bottom--16px">{{daily.temp.max | number:'0.0-0'}}
            °C↑ {{daily.temp.min | number:'0.0-0'}}°C↓
          </div>
        </div>
      </div>
    </ng-container>

  </div>

  <div *ngIf="isLocationView" class="location container">
    <div class="location__header">Location</div>
    <div class="input-wrapper">
      <input type="text" placeholder="Search city..." [(ngModel)]="searchValue">
      <fa-icon [icon]="faMapMarkerAlt" class="location--marker"></fa-icon>
    </div>

    <div *ngFor="let city of cities | search:searchValue" class="city__row" (click)="selectCity(city)">
      <div class="city__name">{{city.name}}</div>
      <div class="city__temp">{{city?.temp | number:'0.0-0'}}°C</div>
    </div>
  </div>

</div>
