.main {
  height: 100vh;
  background-image: url("../assets/img/background.png");
  /*background-position: center;*/
  background-size: contain;
  position: relative;
  display: block;
}

.container {
  background-color: white;
  box-shadow: 0 -16px 40px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: absolute;

  left: 0;
  right: 0;
  overflow: visible;
}

.weather {
  top: 34.14%;
  min-height: calc(100% - 34.14%);
}

.location {
  top: 3.57%;
  min-height: calc(100% - 3.57%);
}

.weather__location {
  cursor: pointer;
  position: absolute;
  background: rgba(13, 159, 234, 0.08);
  border-bottom-left-radius: 40px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #0DA0EA;
  top: 0;
  right: 0;
  padding: 16px 20px;
}

.weather__date {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #999999;
  padding: 18px 0 0 10px;
}

.weather__basic__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 37px 12% 0;
}

.basic__type-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #000000;
}

.basic__temp-text {
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.05em;
  color: #000000;
}

.basic__temp-text::after {
  position: absolute;
  content: '°C';
  margin-top: 12px;
  margin-left: 2px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #666666;
  vertical-align: text-top;
  letter-spacing: 0;
}

.basic__hl-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.basic__hl {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}


.basic__arrow {
  font-size: 12px;
  color: #AAAAAA;
}

.weather__extra__info {
  display: grid;
  grid-template-columns: repeat(3, fit-content(100%));
  margin: 40px 12% 0;
  justify-content: space-between;
  row-gap: 42px;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.value {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.05em;
  color: #444444;
  text-align: center;
  margin-top: 14px;
}

.description {
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #999999;
  margin-top: 4px;
}

.weather__next__info {
  display: flex;
  justify-content: space-between;
  margin: 24px 5.06% 41px;
}

.next__card {
  background: #FFFFFF;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  width: 95px;
}

.location__header {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #999999;
  margin-top: 28px;
}

.input-wrapper {
  height: 40px;
  margin: 27px 20px 34px;
  position: relative;
}

.input-wrapper input {
  width: calc(100% - 15px);
  height: 100%;
  background: #F3F3F3;
  border-radius: 4px;
  border: none;
  outline: none;
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.05em;
  color: #000000;
  padding-left: 15px;
}

.input-wrapper input::placeholder {
  font-family: Barlow;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.05em;
  color: #9F9F9F;
}

.location--marker {
  position: absolute;
  top: 25%;
  right: 12px;
}

.city__row {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 6px;
}

.city__name {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.05em;
  color: #444444;
}

.city__temp {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;

  color: #666666;
}


.vertical--align--top {
  vertical-align: top;
}

.margin--top--16px {
  margin-top: 16px;
}

.margin--bottom--16px {
  margin-bottom: 16px;
}
