/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Barlow;
}

html, body {
  min-height: 100vh;

  margin: 0;
  background-color: white;
}
